@import "~@openmrs/esm-styleguide/src/vars";

.tables {
  margin: 2em 0 0 1em;
  display: flex;
  flex-direction: column;

  .table {
    width: 85rem;
    margin-bottom: 2rem;

  }
}

// .tableContainer .bx--data-table-header__title {
//   @include brand-01(border-bottom-color);
//   border-width: 2px;
//   width: fit-content;
// } I can't get these styles to work on the table title
.container {
  width: 100%;
}
